// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: pink;
  text-align: center;
}

form {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;

}

#field {
  width: 300px;
  height: 30px;
}

#button {
  background-color: lightblue;
   height: 30px;
   border: none;
   border-radius: 5px;
   font-size: 20px;
}
